strong{
	font-family: forte;
	color: deeppink;
	font-size: 50px;
}
.ABOUT{
    background-image:url('bg2.jpg');
    background-size: cover;
  }
.ABOUT P{
    background-color: rgba(255,255,255,0.6);
    display:inline-flex;
    background-size: cover;
    padding: auto;
    text-align: justify;
    line-height: 170%;
    text-indent: 50px;
    font-weight: bold;
    
}
