body {
    background-image: url(bg2.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

#login h1 {
    text-align: center;
    font-size: 30px;
    color:red;
    background-color: rgba(120, 224, 238, 0.8);
    text-shadow: 4px 4px 5px white;
    border-radius: 20px;
    padding: 20px;
}

.login {
    margin: 100px auto;
    width: 250px;
    height: 255px;
    padding: 30px;
    border: 1px solid white;
    background: rgba(35, 40, 42, 0.9);
    background-size: cover;
    color: whitesmoke;
    padding-bottom: 25px;
}

input[type='text'] {
    margin: 5px auto;
    width: 100%;
    height: 0;
    padding: 22px;
    font-size: 15px;
}

button[type='reset'],
[type='submit'] {
    margin: 0 auto;
    padding: 5px;
    width: 90px;
    border: 2px solid rgb(168, 49, 6);
    border-radius: 30px;
    color: #fff;
    background: orangered;
}

.tampilan {
    background-image: url(bg2.jpg);
    background-size: cover;
    display: none;
}

h2 {
  text-align: center;
  text-shadow: 8px 5px 2px blue;
  font-size: 80px;
  color: aqua;
}

#container {
  background: rgba(120, 224, 238, 0.8);
  height: 260px;
  width: 450px;
  margin: 0 auto;
  border: 1px solid black;
}

#btn {
  float: right;
  margin: 0 auto;
  padding: 5px;
  width: 70px;
  border-radius: 20px;
  background: orangered;
  border: 2px solid rgb(168, 49, 6);
}

#table {
  height: 160px;
  width: 450px;
  margin: 0 auto;
  background: rgba(120, 224, 238, 0.8);
  border: 1px solid black;
}

table,
th,
td {
  margin: auto;
  text-align: center;
  border: 1px solid black;
}
