*{
  margin: 0;
  padding: 0;
  font-family:sans-serif;
}
nav{
  background: #1b1b1b;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li{
  float: left;
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover{
  color: aqua;
  border-radius: 100px;
  box-shadow:  0 0 10px #33ffff, 0 0 15px #66ffff;
}
.icon,.klik{
  display: none;
}
.active{
	color: greenyellow;
  border-radius: 100px;
  box-shadow:  0 0 10px greenyellow, 0 0 15px lightgreen;
}
.banner_img{
  background-image:url('bg2.jpg');
  background-size: cover;
}
.banner {
  height: 100vh;
  background-color:rgba(255,255,255,0.6);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#jarak {
  padding: 50px 0;
}
.go{
  position:absolute;
  padding:50px;
}
.go h2 {
  color:black;
  background: transparent;
  padding: 20px 25px;
  border: 3px solid aqua;
  display: block;
  text-align: center;
  font-size: 50px;
}
.go p{
  display:inline-block;
  position:relative;
  border:solid 30px white;
  border-radius: 100%;
  background:white;
  box-shadow:0 0 30px 0px #555;
  transition:all 1s ease;
  -o-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -webkit-transition:all 1s ease;
  top:40px;
  padding: 25px;
}
.go p a {
  color: black;
  text-decoration: none;
}
.go p:hover{
  top:0px;
  opacity:0.6;
}
@media all and (max-width: 1000px) {
  nav ul{
    margin-right:  0px;
    float:left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  ul{
    display: none;
  }
  nav ul li{
    display: block;
    width: 100%;

  }
  nav ul li a:hover{
    box-shadow:none;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  #btn1:checked + ul{
    display: block;
  }
  .active{
  	box-shadow:none;
  }
  .go p{
    display: block;
    text-align: center;
    top:20px;
    padding: 0px;
  }
  .go h2{
    font-size:30px;
 }
}
